<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="btn-group" style="z-index:99;bottom: -40px;background: transparent;float: right;right:5%;">
        <button id="activeButton" type="button" class="btn btn-primary" style="background:transparent;border-radius: 0px !important;" autofocus>Apple</button>
        <button type="button" class="btn btn-primary" style="background:transparent;border-radius: none;">Samsung</button>
        <button type="button" class="btn btn-primary" style="background:transparent;border-radius: 0px !important;">Sony</button>
    </div>

    <!-- <mat-tab-group style="">
        <mat-tab label="First"> Content 1 </mat-tab>
        <mat-tab label="Second"> Content 2 </mat-tab>
        <mat-tab label="Third"> Content 3 </mat-tab>
    </mat-tab-group> -->
    <div class="carousel-inner">




        <div class="carousel-item active">
            <img src="../assets/testimonial.png" alt="Los Angeles">
        </div>
        <div class="carousel-item">
            <img src="../assets/testimonial.png" alt="Chicago">
        </div>
        <div class="carousel-item">
            <img src="../assets/testimonial.png" alt="New York">
        </div>
    </div>





    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>




<!-- <p-toast [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'4000ms'"></p-toast> -->

<div style="background-color: black;width:100%;height:50vh;margin-top:50%;">
    <div style="margin-left:auto;margin-right:auto;width:80%;background-color:brown;height: 50vh;overflow: hidden;">
        <button class="btnHov" style="width: 40px;height: 40px; border-radius: 26px;background-color: black;margin-left:-2%;margin-top:8%;border: none;outline: none;"><i class="fa fa-angle-left" style="font-size:24px"></i></button>


        <div class="onHov" style="width:15%;background-color:blue;height: 50vh;margin-left: 5%;position:absolute;    margin-top: -9.55%;">

        </div>
        <div class="onHov" style="width:15%;background-color:blue;height: 50vh;margin-left: 25%;position:absolute;    margin-top: -9.55%;">

        </div>
        <div class="onHov" style="width:15%;background-color:blue;height: 50vh;margin-left: 45%;position:absolute;    margin-top: -9.55%;">

        </div>
        <div class="onHov" style="width:15%;background-color:blue;height: 50vh;margin-left: 65%;position:absolute;    margin-top: -9.55%;">

        </div>

        <div class="onHov" style="width:15%;background-color:blue;height: 50vh;margin-left: 85%;position:absolute;    margin-top: -9.55%;">

        </div>


        <button class="btnHov" style="width: 40px;height: 40px; border-radius: 26px;background-color: black;margin-right:-2%;margin-top:8%;float:right;z-index: 99;position: relative;border:none;outline: none;"><i class="fa fa-angle-right" style="font-size:24px"></i></button>
    </div>


</div>