/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.a {}

.b {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* carousel on top */

.carousel {
    position: absolute;
    top: 0px;
    margin-top: -35px;
}

.btn {
    border: none;
    border-radius: none !important;
}

.btn:focus,
.btn:active {
    /* outline: none !important; */
    box-shadow: none !important;
    border-top: 2px solid black !important;
    animation: btnAnimation 1s ease;
}

@keyframes btnAnimation {
    0% {
        left: 0%;
    }
    100% {
        left: 5%;
    }
}